{% extends 'base.html.twig' %}

{% block title %}Characters{% endblock %}

{% block body %}
    <div class="container" style="margin: auto">
        <div class="row">
            <div class="col-4">
                {{ form_start(filterForm) }}
                {{ form_label(filterForm.name) }}
                {{ form_widget(filterForm.name, { value: name }) }}
                {{ form_label(filterForm.status) }}
                {{ form_widget(filterForm.status, { value: status }) }}
                {{ form_widget(filterForm.submit) }}
                {{ form_end(filterForm) }}q
            </div>
        </div>
        <div class="row">
           {% for character in characters %}
               <div class="col-4" style="margin-bottom:10px">
                   <div class="card">
                       <img src="{{ character.image }}" class="card-img-top" alt="Profile Image">
                       <div class="card-body">
                           <h5 class="card-title">{{ character.name }} - <small>{{ character.episode|length }} Appearances</small></h5>
                           <a href="{{ path('app_character_profile', { id: character.id  } ) }}" class="btn btn-primary">View Profile</a>
                       </div>
                   </div>
               </div>
           {% endfor %}
       </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if currentPage is not same as(1) %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_character_listing', { page: currentPage-1, name: name, status:status} ) }}">Previous</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ currentPage }}</a></li>
                {% if currentPage is not same as(totalPages) %}
                    <li class="page-item"><a class="page-link" href="{{ path('app_character_listing', { page: currentPage + 1, name: name, status:status} ) }}">{{ currentPage+1 }}</a></li>
                    <li class="page-item"><a class="page-link" href="{{ path('app_character_listing', { page: currentPage + 1, name: name, status:status} ) }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
